.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

form {
  width: 50%;
}
